@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #008CE5;
    width: 100%;
}

.container{
    position: absolute;
    top: 40%; left: 45%;
    transform: translate(-45%, -40%);
    display: flex;
}

.container .image-panel{
    background-repeat: no-repeat;
    width: 531px;
    height: 566px;
    margin-right: -15px;
    background-position: bottom;
}

.container .rocket{
    background-image: url('../assets/login/rocket.svg');
}
.container .rubik{
    background-image: url('../assets/login/rubik.svg');
}
.container .cabriser{
    background-image: url('../assets/login/cabriser.svg');
}
.container .atoms{
    background-image: url('../assets/login/atoms.svg');
}

.container .login-panel{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 20px;
    width: 414px;
    height: 537px;
}

.container .login-panel .wrapper{
    padding: 80px 50px;
}

.container .login-panel .wrapper h2{
    color: #006CB0;
    font: bold 28px Poppins;
}

.container .login-panel .wrapper .credentials{
    margin: 20px 0px;
    padding-bottom: 40px;
}

.container .login-panel .wrapper .credentials input{
    width: 250px;
    height: 56px;
    border-radius: 100px;
    font-family: Poppins;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 20px;;
    font-weight: 400;
    border: 1px solid #bfdcf1;
    outline: none;
}

.container .login-panel .wrapper .icon{
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    background-size: contain;
    position: relative;
    top: 41px;
    left: 19px;
}

.container .login-panel .wrapper .credentials span{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #4D4D4D;
}

.container .login-panel .wrapper .login-icon{
    background-image: url('../assets/login/user.svg');
}
.container .login-panel .wrapper .password-icon{
    background-image: url('../assets/login/password.svg');
}
.container .login-panel .wrapper .email-icon{
    background-image: url('../assets/login/email.svg');
}

.container .login-panel .wrapper .links{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.container .login-panel .wrapper .links a{
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    color: #157AD8;
}

.container .login-panel .wrapper button{
    background: #008CE5;
    width: 315px;
    height: 52px;
    padding: 10px 15px;
    border-radius: 100px;
    gap: 8px;
    border: none;
    box-shadow: 1px 6px 0px 0px #006CB0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
}

.container .login-panel .wrapper button:active{
    box-shadow: inset 1px 3px 0px 0px #006CB0;
}